<!DOCTYPE html>
<html>

<head>
  <title>error page</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h1>this is the error page</h1>


  <script src="javascripts/primus.js"></script>
  
</body>

</html>