<!DOCTYPE html>
<html>

<head>
  <title>Chat app</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
  <h1>what is your message?</h1>

<div class="displaymessages" id="displaymessages">
</div>

<br>

<div class="inputmessage">
  <input type="text" name="input" id="input">
</div>

<br>

  <script src="/primus/primus.js"></script>
  
  <script src="javascripts/sendmessage.js"></script>
  
</body>

</html>