<!DOCTYPE html>
<html>

<head>
  <title>Chat app</title>
  <link rel='stylesheet' href='dist/css/app.css'>
</head>

<body>
    <script src="dist/javascripts/checkToken.js"></script>
    <nav class="navigation">
        <ul>
            <li><a href="/">Messages</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="logout" id="logout">Logout</a></li>
        </ul>
    </nav>
    
  <h1>what is your message?</h1>

<div class="displaymessages" id="displaymessages">
</div>

<br>

<div class="inputmessage">
  <input type="text" name="input" id="input">
</div>

<br>

  <script src="dist/primus/primus.js"></script>
  <script src="dist/javascripts/logout.js"></script>
  <script src="dist/javascripts/sendmessage.js"></script>


</body>

</html>