<!DOCTYPE html>
<html>

<head>
  <title>Chat app</title>
  <link rel='stylesheet' href='dist/css/app.css'>
</head>

<body>
    <script src="dist/javascripts/checkToken.js"></script>
    <nav class="navigation">
        <ul>
            <li><a href="/">Messages</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="logout" id="logout">Logout</a></li>
        </ul>
    </nav>

    <div class="allusers" id="allusers">

    </div>
    <br>
    <br>
  <h1>what is your message?</h1>
<h3>logged in: <span id="loggedin"></span></h3>
<br>
<br>
<div class="displaymessages" id="displaymessages">
</div>

<br>
<div class="messages">
  <span id="oldmessages"></span>
</div>
<div class="inputmessage">
  <input type="text" name="input" id="input">
</div>

<br>
<br>
<br>
<br>
<h5>if you know the id of your message you an find it here</h5>
<span id="showbyid"></span>
<br>
<input type="text" id="inputgetbyid">
<button onclick="findById()">Find</button>

  <script src="dist/javascripts/primus.js"></script>
  <script src="dist/javascripts/logout.js"></script>
  <script src="dist/javascripts/sendmessage.js"></script>
  <script src="dist/javascripts/deletemessage.js"></script>
  <script src="dist/javascripts/updatemessage.js"></script>
  <script src="dist/javascripts/message.js"></script>


</body>

</html>
