<!DOCTYPE html>
<html>

<head>
  <title>Chat app</title>
  <link rel='stylesheet' href='dist/css/app.css'>
</head>

<body>
    <script src="dist/javascripts/checkToken.js"></script>
    <nav class="navigation">
        <ul>
            <li><a href="/">Messages</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="logout" id="logout">Logout</a></li>
        </ul>
    </nav>

    <div class="allusers" id="allusers">

    </div>

  <h1 class="title title--primary">What is your message?</h1>
<h3 class="title title--subtitle">Logged in: <span id="loggedin"></span></h3>
<br>
<br>
<div class="displaymessages" id="displaymessages">
</div>

<br>
<div class="oldmessage">
  <span id="oldmessages" class="oldmessage--display"></span>
</div>
<div class="newmessage">
  <input type="text" name="input" id="input" class="input newmessage--input" placeholder="Type here">
</div>

<br>
<br>
<br>
<br>
<h3 class="title title--subtitle">If you know the id of your message you an find it here</h3>
<span class="display--messageid" id="showbyid"></span>
<br>

<input type="text" id="inputgetbyid" class="input findmessage--input">

<button class="btn btn--primary" onclick="findById()">Find</button>
<span id="here"></span>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="dist/javascripts/primus.js"></script>
  <script src="dist/javascripts/logout.js"></script>
  <script src="dist/javascripts/sendmessage.js"></script>
  <script src="dist/javascripts/deletemessage.js"></script>
  <script src="dist/javascripts/updatemessage.js"></script>
  <script src="dist/javascripts/message.js"></script>


</body>

</html>
