<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='dist/css/app.css'>

    <title>login</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Login</h2>
        <div class="alert hidden">
          
        </div>
        <div class="signup">
          <div class="form--input">
            <label for="email">Email</label>
            <input type="text" class="signup--input" name="email" id="email">
          </div>
          
          <div class="form--input">
            <label for="password">Password</label>
            <input type="password" class="signup--input" name="password" id="password">
          </div>
          <div class="form--btn">
          <button class="btn">Login!</button>
        </div>
        <div class="quote">
          <a href="signup">Register now!</a>
        </div>
        </div>
      </div>

      <script src="dist/javascripts/login.js"></script>
      
</body>

</html>
