<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='dist/css/app.css'>

    <title>Profile</title>
</head>
<body>
  <script src="dist/javascripts/checkToken.js"></script>
  <nav class="navigation">
      <ul>
          <li><a href="/">Messages</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="logout" id="logout">Logout</a></li>
      </ul>
  </nav>
  
 
    <div class="alert hidden">
    </div>

    <div class="profile">
  
        <h2 class="title">Your skills</h2>
        <div class="display--skills">
          <ul>
            <li></li>
          </ul>
        </div>
        
        <h2 class="title">Update</h2>
          <div class="form--profile">
            <label for="email">Change Email</label>
            <br>
            <input type="text" class="form--text" name="email" id="email">
          </div>
          
          <h2 class="title">Skills</h2>
            <div class="form--profile">
              <label for="skills">Add skill</label>
              <br>
              <input type="text" class="form--text" name="skill" id="skill">
            </div>

          <div class="btn--profile">
            <button class="btn btn--primary">Update!</button>
          </div>

    </div>


     


      <script src="dist/javascripts/profile.js"></script>
 

  
      
</body>

</html>
