<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='dist/css/app.css'>

    <title>Profile</title>
</head>
<body>
  <script src="javascripts/checkToken.js"></script>
  <nav class="navigation">
      <ul>
          <li><a href="/">Messages</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="logout" id="logout">Logout</a></li>
      </ul>
  </nav>
  
 
    <div class="alert hidden">
      Here is some feedback
    </div>

    <div class="container">
        
        <h2 class="title">Update</h2>
      
        <div class="profile">
          <div class="form--input">
            <label for="email">Change Email</label>
            <input type="text" class="input--text" name="email" id="email">
          </div>
          
          <h2 class="title">Skills</h2>
         
      
            
  
            <div class="form--input">
              <label for="skills">Add skill</label>
              <input type="text" class="input--text" name="skill" id="skill">
            </div>

          <div class="form--btn--update">
          <button class="btn btn--primary">Update!</button>
        </div>

    

      </div>


      <script src="javascripts/profile.js"></script>
 

  
      
</body>

</html>
