@import 'variables';
@import 'components/btn';
@import 'components/alert';

body {
    padding: 50px;
    font-family: $font;
    margin: auto;
  }
  html 
  { 
      height: 100%; display: flex; 
    }

/*register*/

.container
{
  background-color:$primary;
  width: 400px;
  font-size: 1.25em;
  padding: 1em;
  color:$white;
}


.input--text
{
  font-size: 1em;
  width: 100%;
  color: #000;
  margin-bottom: 1em;
}

.hidden
{
  display:none;
}

.quote {
  margin:auto; 
}

.quote a{
  margin:auto; 
}