.btn
{
  font-size: 1em;
  padding: 0.2em;
  font-weight: bold;
  border-radius: 0.7em;
  border: none;
  background-color: transparent;
  border: solid 2px $white;
  color:$white;
  width: 100%;
  margin:auto;
}
.btn:active
{
  position: relative;
  top: 1px;
}

.btn--primary
{
  background-color: $primary;
  color:$white;
  width: 20%;
  margin: 20px 0 0 0;
}